<div class="text-center">
  <img src="<%= Routes.static_path(@conn, "/images/avatar.png") %>" class="avatar rounded-circle" alt="Author's avatar"/>
  <br>
  <h2 id="name"><a>Pablo Palomino Gómez</a></h2>
  <span class="position">Software Engineer at <a class="link active" href="https://www.bizneo.com/es">Bizneo HR</a></span>
  <ul class="navbar-nav flex-row">
    <li class="nav-item"><a class="nav-link px-2" href="mailto:pablopalomino96@gmail.com"><span class="link fa fa-envelope-o"></span></a></li>
    <li class="nav-item"><a class="nav-link px-2" href="https://www.instagram.com/papago96/"><span class="link fa fa-instagram"></span></a></li>
    <li class="nav-item"><a class="nav-link px-2" href="https://github.com/pablopalomino96"><span class="link fa fa-github"></span></a></li>
    <li class="nav-item"><a class="nav-link px-2" href="http://www.linkedin.com/in/pablo-palomino-g%C3%B3mez-27705712a"><span class="link fa fa-linkedin"></span></a></li>
    <li class="nav-item"><a class="nav-link px-2" href="https://open.spotify.com/user/papago96?si=6h1Ot5IoR8u9eL89iESA1g"><span class="link fa fa-spotify"></span></a></li>
  </ul>
</div>
