<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= format_page_title(@owner.name) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
    <link rel="manifest" href="/manifest.json">

  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-inverse">
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link link" href="<%= Routes.page_path(@conn, :index) %>">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= Routes.page_path(@conn, :skills) %>">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" aria-disabled="true">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" aria-disabled="true">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" aria-disabled="true">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link" href="<%= Routes.page_path(@conn, :contact) %>">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <button id="totop" type="button" class="btn btn-outline-light grow" onclick="$('html, body').animate({ scrollTop: '0' }, 250); "><span class="fa fa-angle-up fa-2x"></span></button>
    <footer id="footer" class="page-footer font-small cyan darken-3 active-content">
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a><b>Pablo Palomino Gómez</b></a>
      </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
